@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100vh;
}

span{
  display: inline-block;
}

body section.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #000000;
}

body section.container section.container-flex {
    display: flex;
    width: 80%;
    padding: 1em 0;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

body section.container section.container-flex p {
  width: 50%;
  text-align: left;
}

body section.container section.container-flex div.inputs {
  display: flex;
}
body section.container section.container-flex div.inputs button {
  border: none;
  text-align: right;
  width: 50%;
  background-color: transparent;
}

body section.container section.container-flex div.inputs button i {
  color: #fff;
  font-size: 5vw;
}

body section.container section.container-lembrete {
  width: 100%;
  margin: 1em 0em;
  color: #fff;
  text-align: center;
}

body section.container section.container-lembrete div.lembretes {
  width: 80%;
  padding: 2em;
  border-radius: 10px;
  display: inline-block;
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
}

body section.container section.container-itens {
  width: 100%;
  padding: 2em 0;
  position: relative;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

body section.container section.container-itens ul {
  display: inline-block;
  width: 80%;
  list-style-type: none;
}

body section.container section.container-itens ul li.container-each {
  height: 5em;
  display: flex;
  margin: 0 0 20px 0;
  align-items: center;
  color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(20, 19, 20, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(20, 19, 20, 1);
  box-shadow: 0px 0px 10px 0px rgba(20, 19, 20, 1);
  border-radius: 10px;
  width: 100%;
  background-color: #1c1d1d;
  justify-content: space-between;
}

div.infos{
  width: 100%;
}

body section.container section.container-itens ul li i {
  color: #fff;
  padding-right: 10px;
}

body section.container section.container-itens ul li label{
  text-align: left;
}

body section.container section.container-itens ul li label span{
  font-size: 14px;
  color: #ddd;
}

body section.container section.container-itens ul li p{
  color: red;
}
body section.container-input{
  height: 100vh;
  position: absolute;
  display: none;
  bottom: 0;
  background-color: transparent;
  width: 100%;
}

body section.options{
    position: fixed;
    z-index: 8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    height: 15em;
    background-color: rgb(17, 16, 16);
    width: 100%;
}

body section.options input{
  padding: 8px;
  width: 80%;
  margin: 5px 0;
  background-color: rgb(17, 16, 16);
  border-radius: 10px;
  border: none;
  color: #fff;
}

body section.options input::placeholder{
  color: #fff;
}

